@page "/"
@rendermode InteractiveServer

<PageTitle>Blazor Server</PageTitle>

<InputSelect @bind-Value="@Selected">
    @foreach (var opt in Items)
    {
        <option value="@opt">@opt</option>
    }
</InputSelect>

@code {
    private List<string> Items = new List<string>();
    private string Selected;

    protected override void OnInitialized()
    {
        for (int i = 0; i < 1000; i++)
        {
            Items.Add($"Item{i}");
        }

        base.OnInitialized();
    }
}
